In [1]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
# 3. Convert the June temperatures to a list.

results = []
results = session.query(Measurement.date, Measurement.tobs).filter(extract('month',Measurement.date)==6).all()

In [5]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(results, columns = ['date','June Temps'])
df.set_index(df['date'], inplace = True)

In [6]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [7]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
# 7. Convert the December temperatures to a list.
from sqlalchemy import extract

results2 = []
results2 = session.query(Measurement.date, Measurement.tobs).filter(extract('month',Measurement.date)==12).all()

In [8]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df2 = pd.DataFrame(results2, columns = ['date','December Temps'])
df2.set_index(df2['date'], inplace = True)

In [9]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df2.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [10]:
#D3: Precipitation analysis for the the month of June
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

#Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
#Convert the June temperatures to a list.

results_jp = []
results_jp = session.query(Measurement.date, Measurement.prcp).filter(extract('month',Measurement.prcp)==6).all()

In [12]:
#Create a DataFrame from the list of temperatures for the month of June. 
df3 = pd.DataFrame(results_jp, columns = ['date','June Precip'])
df3.set_index(df3['date'], inplace = True)

In [13]:
# stats for precip
df3.describe()

       date June Precip
count     0           0
unique    0           0
top     NaN         NaN
freq    NaN         NaN

In [14]:
#D3: Precipitation analysis for the the month of December
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

#Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
#Convert the June temperatures to a list.

results_dp = []
results_dp = session.query(Measurement.date, Measurement.prcp).filter(extract('month',Measurement.prcp)==12).all()

In [15]:
#Create a DataFrame from the list of temperatures for the month of December. 
df4 = pd.DataFrame(results_dp, columns = ['date','Dec Precip'])
df4.set_index(df4['date'], inplace = True)

In [16]:
# stats for precip
df4.describe()

       Dec Precip
count    8.000000
mean     8.398750
std      1.591068
min      6.700000
25%      7.445000
50%      8.015000
75%      9.017500
max     11.530000